@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,152;1,152&display=swap');
body{
    margin: 0;
    padding: 0;
    font-weight: 300;
    overflow-x: hidden;
}
.menu{
    outline: 1px solid;
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    position: relative;
    z-index: 1000;
    }
.menu-list{
    outline: 1px solid; 
    display:flex;
    list-style: none;
    text-decoration: none;
}
.menu-list a{
    margin: 10px;
    outline: 1px solid;
    text-decoration: none;
    color: teal;
}
.menu-btn{
    outline: 1px solid;  
    border-radius: 10px;
    background-color:darkblue;
    border: none; 
    padding: 4px 5px;
    color:white;
    border-radius: 1000px;
    position: relative;
    background: linear-gradient(to right, limegreen, cyan);
}
.sec-image{
     display: flex;
     background-image: url(bg-intro-desktop.svg);
     /* float: right; */
     width: 700px;
     margin-left: 300px;
     height: 700px;
     margin-top: -100px;
     background-position:left;
 }
 .easy-im{
    margin-left: 150px;
 }
.menu-btn2{
        outline: 1px solid; 
        border-radius: 10px;
        border: none; 
        padding: 4px 5px;
        color:white;
        border-radius: 1000px;
        position: relative;
        background: linear-gradient(to right, limegreen, cyan)
 }
.heading{ 
    font-size: larger;
}
.menu-letters{
    padding-top: 200px;
    margin-left: 100px;
    font-family: Public Sans;
    font-size: 18px;
}
.sec1{
    display: flex;
    justify-content: center; 
    align-content:space-evenly;
   
}
.ltrs-icon{
    padding-top: 30px;
    margin-left:100px ;
    align-content: center;
    height: 500px;
    font-family: Public Sans;` 
}
.card-like{
    padding-top: 50px;
    padding-right:50px;
}
.all-cards{
    display: flex;
}
.cards-articles{
    font-family: Public Sans;
    padding-top: 30px;
    margin-left: 100px;
    align-content: center;
    height: 500px;
}
.real-cards img{
    width: 300px;
    padding-top: 30px;
    padding-right:50px ;
    height: 200px;
}
.real-cards{
    background-position: center;
    background-color: hsl(138, 62%, 96%);
}